<p>onetwocols works!</p>
<div class="wrapper">

    <div class="columns" >

        <div class="col col-50" *ngFor="let col of [0,1]">
            <div class="inner"><div style="height:60px; border-style:solid"  *ngIf="showHandlungsempfehlungen(col)">Handlungsempfehlungen</div></div>
            <div class="inner"><div style="height:150px; border-style:solid" *ngIf="showHinweise(col)">Hinweise</div></div>
            <div class="inner"><div style="height:80px; border-style:solid"  *ngIf="showNotizen(col)">Notizen</div></div>
            <div class="inner"><div style="height:110px; border-style:solid" *ngIf="showProzessHistorie(col)">Prozess-Historie</div></div>
            <div class="inner"><div style="height:100px; border-style:solid" *ngIf="showAuflagen(col)">Auflagen</div></div>
            <div class="inner"><div style="height:40px; border-style:solid"  *ngIf="showQESStatus(col)">QES Status</div></div>
            <div class="inner"><div style="height:90px; border-style:solid"  *ngIf="showAenderungshistorie(col)">Änderungshistorie</div></div>
        </div>

    </div>

</div>
