.wrapper {
    padding: 30px 30px 300px;
    font-size: 22px;
    color: #ffffff;
    background: #554433;
}

.columns {
    margin: 0 -15px;
    flex-wrap: wrap;
    display: flex;
}


.col {
    margin: 0 15px 30px;
    padding: 20px;
    border-radius: 6px;
    box-sizing: border-box;
    background: rgba(255,0,255,0.12);
    display: flex;
    flex-direction: column;
}

.col-100 {
    width: calc(100% - 30px);
}

.col-50 {
    width: calc(50% - 30px);
}

/*@media screen and (max-width: 1000px) {*/

/*    .col-25 {*/
/*        width: calc(50% - 30px);*/
/*    }*/
/*}*/

@media screen and (max-width: 800px) {

    .col-50 {
        width: calc(100% - 30px);
    }

    .inner:nth-child(1) {
        order: 1;
        /*background-color: aqua;*/
    }
    .inner:nth-child(2) {
        order: 2;
        /*background-color: red;*/
    }
    .inner:nth-child(3) {
        order: 3;
        /*background-color: blue;*/
    }
    .inner:nth-child(4) {
        order: 7;
        /*background-color: blue;*/
    }
    .inner:nth-child(5) {
        order: 5;
        /*background-color: blue;*/
    }
    .inner:nth-child(6) {
        order: 4;
        /*background-color: blue;*/
    }
    .inner:nth-child(7) {
        order: 6;
        /*background-color: blue;*/
    }
}


.inner {
    background-color: coral;
}

/*.outer {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    line-height: 1.5;*/
/*}*/


